---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogCard from "../../../../components/BlogCard.astro";
import {getCollection} from "astro:content";
import createSlug from "../../../../lib/createSlug";

export async function getStaticPaths({paginate}) {
    const all_posts = await getCollection("blog");
    const all_tags = all_posts.flatMap((post) => {
        return post.data.tags || [];
    });

    return all_tags.flatMap((tag) => {
        const filtered_posts = all_posts.filter((post) => {
            return post.data.tags?.includes(tag);
        });
        return paginate(filtered_posts, {
            params: {tag},
            pageSize: 10,
        });
    });
}

const {page} = Astro.props;
const params = Astro.params;
---

<BaseLayout title={"Blog - " + params.tag + " | Sam Packer"} sideBarActiveItemID="blog">
    <a class="no-underline flex items-center space-x-2 mb-3" href="javascript:history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
             style="fill: currentColor;transform: ;msFilter:;">
            <path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
        </svg>
        <span>Back</span>
    </a>
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Blog - {params.tag}</div>
    </div>
    {
        page.data.length === 0 ? (
                <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
                    <p class="font-bold">Sorry!</p>
                    <p>There are no blog posts to show at the moment. Check back later!</p>
                </div>
        ) : (
                <ul>
                    {page.data.map((post) => (
                            <>
                                <BlogCard
                                        title={post.data.title}
                                        img={post.data.image}
                                        desc={post.data.description}
                                        url={"/blog/" + createSlug(post.data.title, post.slug)}
                                        target="_self"
                                        badge={post.data.badge}
                                        referrer="blog"
                                        tags={post.data.tags}
                                />
                                <div class="divider my-0"/>
                            </>
                    ))}
                </ul>
        )
    }

    <div class="flex justify-between">
        {
            page.url.prev ? (
                    <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
                        {" "}
                        <svg
                                class="h-6 w-6 fill-current md:h-8 md:w-8"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                        >
                            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"/>
                        </svg>
                        {" "}
                        Recent posts
                    </a>
            ) : (
                    <div/>
            )
        }
        {
            page.url.next ? (
                    <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
                        Older Posts{" "}
                        <svg
                                class="h-6 w-6 fill-current md:h-8 md:w-8"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                        >
                            {" "}
                            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/>
                        </svg>
                    </a>
            ) : (
                    <div/>
            )
        }
    </div>
</BaseLayout>
