---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import {getCollection} from "astro:content";
import createSlug from "../lib/createSlug"
import ProjectCard from "../components/ProjectCard.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);

const currentDate = dayjs();
const posts = (await getCollection("blog"))
    .filter(post => dayjs(post.data.pubDate).utc().isBefore(currentDate) || dayjs(post.data.pubDate).utc().isSame(currentDate))
    .sort((a, b) => dayjs(b.data.pubDate).utc().valueOf() - dayjs(a.data.pubDate).utc().valueOf());

const projects = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const latest_posts = posts.slice(0, 3);
const latest_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Hello,</div>
        <div class="text-5xl font-bold">I'm Sam Packer</div>
        <div class="text-3xl py-3">Software Engineer, Cloud Engineer, and Data Analyst</div>
        <div class="py-2">
            <text class="text-lg">
                I’m a May 2025 Computer Information Systems graduate passionate about solving business challenges
                through software engineering, automation, and data-driven decision-making. I’ve improved team
                collaboration, streamlined processes, and driven significant cost savings by building efficient systems
                and leveraging data insights. Let’s connect to explore how I can help your organization achieve
                impactful results.
            </text>
        </div>
        <div class="mt-8">
            <a class="btn btn-lg btn-primary me-4"
               href="https://www.linkedin.com/in/samuel-packer/"
               data-event="Front Page LinkedIn Button" target="_blank">Let's connect!</a>
            <a class="btn btn-lg btn-outline" href="/experience/"
               data-event="Front Page Experience Button"
               target="_self">Experience</a>
        </div>
    </div>

    <div>
        <div class="text-3xl w-full font-bold mb-5">My latest projects {"</>"}</div>
    </div>

    {
        latest_projects.map((project) => (
                <>
                    <ProjectCard
                            title={project.data.title}
                            desc={project.data.description}
                            img={project.data.image}
                            url={"/projects/" + createSlug(project.data.title, project.slug)}
                            target="_self"
                            referrer="home"
                            badge={project.data.badge}
                    />
                    <div class="divider my-0"/>
                </>
        ))
    }

    <div>
        <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from my blog ✍️</div>
    </div>

    {
        latest_posts.map((post) => (
                <>
                    <BlogCard
                            title={post.data.title}
                            desc={post.data.description}
                            img={post.data.image}
                            url={"/blog/" + createSlug(post.data.title, post.slug)}
                            target="_self"
                            referrer="home"
                            badge={post.data.badge}
                    />
                    <div class="divider my-0"/>
                </>
        ))
    }
</BaseLayout>
