---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import {getCollection} from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

import GitHub from "../assets/icons/github.svg";
import LinkedIn from "../assets/icons/linkedin.svg";

dayjs.extend(utc);

const now = dayjs().utc();

const posts = (await getCollection("blog"))
    .filter(post => {
        const postDate = dayjs(post.data.pubDate).utc();
        return postDate.isBefore(now, "second") || postDate.isSame(now, "second");
    })
    .sort((a, b) => dayjs(b.data.pubDate).valueOf() - dayjs(a.data.pubDate).valueOf());

const projects = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const latest_posts = posts.slice(0, 3);
const latest_projects = projects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
    <div class="flex flex-col gap-8">
        <section id="intro">
            <div>
                <div class="text-xl py-1 mt-5">Hello,</div>
                <div class="text-5xl font-bold">I'm Sam Packer</div>
                <div class="text-3xl py-3 text-primary font-medium">Software Engineer, System Administrator, and Data
                    Analyst
                </div>
                <div class="prose prose-2xl">
                    <p class="text-lg">
                        <strong>Leveraging technology to solve real-world business challenges isn’t just about
                            efficiency, it’s about empowering people.</strong> As a graduating May 2025 Computer
                        Information Systems student, I specialize in automating business processes, building flexible
                        and modern software that "just works," and translating data into meaningful stories. My work
                        includes developing internal tools that streamline operations for cross-functional teams,
                        eliminate repetitive work, and yield measurable cost savings by untangling operational knots. My
                        focus is on solutions that don’t just solve problems, but create space for teams to focus on
                        what actually moves the needle.
                    </p>
                </div>
                <div class="flex items-center gap-4 pt-4">
                    <a href="https://github.com/sam-packer"
                       target="_blank"
                       class="btn btn-lg btn-primary"
                       aria-label="GitHub" title="GitHub">
                        <GitHub width={32} height={32} fill="currentColor"/>
                    </a>
                    <a href="https://www.linkedin.com/in/samuel-packer/"
                       target="_blank"
                       class="btn btn-lg btn-primary"
                       aria-label="LinkedIn"
                       title="LinkedIn"
                    >
                        <LinkedIn width={32} height={32} fill="currentColor"/>
                    </a>
                    <a class="btn btn-lg" href="/experience/"
                       data-event="Front Page Experience Button"
                       target="_self">Experience</a>
                </div>
            </div>
        </section>

        <section id="projects">

            <div>
                <div class="page-title">My latest projects {"</>"}</div>
            </div>

            <div class="card-spacing">
                {
                    latest_projects.map((project) => (
                            <ProjectCard
                                    project={project}
                                    href={`/projects/${project.id}/`}
                                    target="_self"
                                    referrer="home"
                            />
                    ))
                }
            </div>
        </section>

        <section id="blog">
            <div>
                <div class="page-title">Latest from my blog ✍️</div>
            </div>

            <div class="card-spacing">
                {
                    latest_posts.map((post) => (
                            <BlogCard
                                    post={post}
                                    href={`/blog/${post.id}/`}
                                    target="_self"
                                    referrer="home"
                            />
                    ))
                }
            </div>
        </section>
    </div>
</BaseLayout>
