---
import * as url from "node:url";
const {post, href, target = "_self", referrer} = Astro.props;
import {Image} from "astro:assets";

// Ensure we always get the base blog URL
const parts = href.split("/");
const blogIndex = parts.indexOf("blog"); // Find index of "blog" in URL

let tag_url = "/blog/tag"; // Default if no "blog" segment is found

if (blogIndex !== -1) {
    // Construct base URL dynamically, ensuring we always get "/blog/tag"
    tag_url = `${parts.slice(0, blogIndex + 1).join("/")}/tag`;
}
---

<article class="card card-border clickable" role="article">
    <a
            href={href}
            target={target}
            aria-labelledby={post.data.title}
            data-event={referrer === "home" ? "Blog Card From Front Page" : "Blog Card From Blog Page"}
    >
        <div class="hero-content flex-col md:flex-row">
            {post.data.image && (
                    <Image
                            src={post.data.image}
                            width={750}
                            height={422}
                            format="webp"
                            loading="eager"
                            decoding="async"
                            alt={post.data.title}
                            class="max-w-full md:max-w-[13rem] rounded-lg"
                    />
            )}
            <div class="grow w-full">
                <header>
                    <h1 id={post.data.title} class="text-xl font-bold">
                        {post.data.title}
                        {post.data.badge &&
                                <div class="badge badge-secondary mx-2">{post.data.badge}</div>}
                    </h1>
                </header>
                <p class="py-1 text-1xl">{post.data.description}</p>
                <div class="card-actions justify-end">
                    {post.data.tags && referrer === "blog" &&
                        post.data.tags.map((tag) => (
                                <a
                                        href={`${tag_url}/${tag}`}
                                        class="badge-card"
                                        aria-label={`View posts tagged with ${tag}`}
                                >
                                    {tag}
                                </a>
                        ))}
                </div>
            </div>
        </div>
    </a>
</article>