---
const {url, title} = Astro.props;
---

<div class="collapse-wrapper clickable">
    <div class="collapse">
        {url !== undefined ? (
                <a
                        class="collapse-title text-lg font-semibold"
                        href={url}
                        target="_blank"
                        rel="noopener"
                        aria-label={`Verify the ${title} certification`}
                >
                    {title}
                </a>
        ) : (
                <div
                        class="flex items-center gap-2 collapse-title text-lg font-semibold"
                        role="button"
                        tabindex="0"
                        aria-label={`The ${title} certification is being obtained`}
                >
                    {title}
                    <div class="badge badge-success">Obtaining</div>
                </div>
        )}
    </div>
</div>
