---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import Alert from "../components/Alert.svelte";
import FloatingBackToTop from "../components/FloatingBackToTop.astro";
import {ClientRouter} from "astro:transitions";
import Plausible from "../components/Plausible.astro";

const {
    image,
    title = "Portfolio",
    description = "Sam Packer's portfolio, showcasing experience, projects, contact info, and blog. BBA from WTAMU (May 2025), incoming MEng graduate student at Duke University.",
    includeSidebar = true,
    sideBarActiveItemID,
    ogType = "website",
} = Astro.props;
---

<!doctype html>
<html lang="en">

<head>
    <BaseHead title={title} description={description} image={image} ogType={ogType}/>
    <title>{title} | Sam Packer</title>
    <ClientRouter/>
</head>
<body>
<div class="bg-base-100 drawer lg:drawer-open">
    <label for="my-drawer"></label><input id="my-drawer" type="checkbox" class="drawer-toggle"/>
    {includeSidebar &&
            <SideBar sideBarActiveItemID={sideBarActiveItemID}/>}
    <div class="drawer-content bg-base-100">
        <Header/>
        <div class="md:flex md:justify-center">
            <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
                <Alert client:only="svelte"/>
                <slot/>
            </main>
        </div>
        <FloatingBackToTop/>
        <Footer/>
    </div>
    <Plausible/>
</div>
</body>
</html>