---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import PlausibleAnalytics from "../components/PlausibleAnalytics.svelte";
import Popup from "../components/Popup.svelte";
import popups from "../data/popups.json";
import {ClientRouter} from "astro:transitions";

import {SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API} from "../config";
import FloatingBackToTop from "../components/FloatingBackToTop.astro";

const {
    image,
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    includeSidebar = true,
    sideBarActiveItemID,
    ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en">

<head>
    <BaseHead title={title} description={description} image={image} ogType={ogType}/>
    <title>{SITE_TITLE}</title>
    {TRANSITION_API &&
            <ClientRouter/>}
</head>
<body>
<div class="bg-base-100 drawer lg:drawer-open">
    <label for="my-drawer"></label><input id="my-drawer" type="checkbox" class="drawer-toggle"/>
    {includeSidebar &&
            <SideBar sideBarActiveItemID={sideBarActiveItemID}/>}
    <div class="drawer-content bg-base-100">
        <Header/>
        <div class="md:flex md:justify-center">
            <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
                <slot/>
            </main>
            <Popup client:only="svelte" popups={popups}/>
        </div>
        <FloatingBackToTop/>
        <Footer/>
    </div>
</div>
<PlausibleAnalytics client:idle/>
</body>
</html>
