---
import BaseLayout from "./BaseLayout.astro";
import {Image} from "astro:assets";
import BackButton from "../components/BackButton.astro";
import ClientTime from "../components/ClientTime.svelte";

const {post} = Astro.props;
---

<BaseLayout title={post.data.title} description={post.data.description} image={post.data.image ? post.data.image.src : ""} ogType="article"
            sideBarActiveItemID="blog">
    <main class="md:flex md:justify-center">
        <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
            <BackButton/>
            {post.data.image &&
                    <Image format="webp" loading="eager" decoding="async" src={post.data.image}
                           alt={post.data.title} quality="max" class="w-full mb-3 rounded-lg"/>}
            <h1 class="title text-4xl mb-1 font-bold">{post.data.title}</h1>
            <ClientTime post={post} client:idle/>
            <br/>
            <div class="flex flex-wrap gap-2 my-2">
                {post.data.badge &&
                        <div class="badge badge-secondary no-underline">{post.data.badge}</div>}
                {
                    post.data.tags &&
                    post.data.tags.map((tag) => (
                            <a href={`/blog/tag/${tag}`} class="badge-layout">
                                {tag}
                            </a>
                    ))
                }
            </div>
            <div class="divider my-2"></div>
            <slot/>
        </article>
    </main>
</BaseLayout>
