---
import {type BlogSchema} from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {
}

const {title, description, pubDate, revDate, image, badge, tags = []} = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("LL")
const updatedDate = dayjs(revDate).format("LL")
import {Image} from "astro:assets";
---

<BaseLayout title={title} description={description} image={image} , ogType="article">
    <main class="md:flex md:justify-center">
        <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
            {image &&
                    <Image width={750} height={422} format="webp" src={image} alt={title}
                           class="w-full mb-3 rounded-lg"/>}
            <h1 class="title text-4xl mb-1 font-bold">{title}</h1>
            {pubDate &&
                    <time>{displayDate}</time>}
            <br/>
            <div class="flex flex-wrap gap-2 my-2">
                {badge &&
                        <div class="badge badge-secondary no-underline">{badge}</div>}
                {
                    tags &&
                    tags.map((tag, index) => (
                            <a href={`/blog/tag/${tag}`} class="badge badge-outline no-underline">
                                {tag}
                            </a>
                    ))
                }
            </div>
            {
                revDate && (
                            <div>
                                {" "}
                                Last updated on
                                <time>{updatedDate}</time>
                                {" "}
                            </div>
                )
            }
            <div class="divider my-2"></div>
            <slot/>
        </article>
    </main>
</BaseLayout>
