---
import BaseLayout from "./BaseLayout.astro";
import {Image} from "astro:assets";
import BackButton from "../components/BackButton.astro";

const {project} = Astro.props;
---

<BaseLayout title={project.data.title} description={project.data.description} image={project.data.image.src}
            ogType="article" sideBarActiveItemID="projects">
    <main class="md:flex md:justify-center">
        <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
            <BackButton/>
            {project.data.image &&
                    <Image width={400} height={200} format="webp" loading="eager" src={project.data.image}
                           alt={project.data.title} quality="max" class="mb-3 rounded-lg"/>}
            <h1 class="title text-4xl mb-1 font-bold">{project.data.title}</h1>
            <div class="flex flex-wrap gap-2 my-4">
                {project.data.badge &&
                        <div class="badge badge-secondary">{project.data.badge}</div>}
                {
                    project.data.tags &&
                    project.data.tags.map((tag) => (
                            <div class="badge-layout">
                                {tag}
                            </div>
                    ))
                }
            </div>
            {
                project.data.url &&
                    <a id="project-button" class="btn btn-primary rounded-lg no-underline"
                       href={project.data.url} target="_blank">Link to project</a>
            }
            <div class="divider my-2"></div>
            <slot/>
        </article>
    </main>
</BaseLayout>
